body{
    margin : 0;
    padding: 0;
    text-align: center;
    background: url(background7.jpg);
    background-size: cover;
    
    background-position: center;
    font-family: sans-serif;
    }

.forprofile{

   position: relative;
   left:3%;
   top:50px;
    width:500px;
    height:600px;
    
    
}
.forprofile img{width:200px;
    height:200px;
    border-radius: 80px;}

.forprofile h1{
    color:white;
}
.rest{
    position: relative;
    top: -650px;
    left:40%;
    width:800px;
    height:600px;
    background: rgba(247, 246, 248, 0.5);
}
.rest h1{
    
    color:white;
}
.rest h2{
    
    color:white;
}
.rest img{
    margin-top:30px;
    width:160px;
    height:120px;
    margin-left: 37px;
}
.heading{
    margin-top: 20px;
    color:white;
    font-size: 50px;
}
button{
    position:relative;
    top :-125px;
    left:-31%;
    height: 30px;
        color: #fff;
        font-size: 20px;
        background: rgb(25, 21, 226);
        cursor: pointer;
        width : 300px;
        border: none;
        outline: none;
        margin-top: 5%;
}